body {
  background-color: white;

}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

#router-div {
  position: relative;
  top: 0;
  padding: 10px;
  min-height: 80vh;
}

#router-menu {
  top: 0;
  left: 0;
}

#volcano-table {
  alt: "volcano list table";
}

#volcano-modal {
  alt: "volcano modal"
}

.buttons {
  alt: "page button"
}

.form {
  alt: "page form"
}

#dropdown {
  alt: "cascading-dropdown"
}