body {
  background-color: white;
  padding: 20px;
  margin: 10px;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

.content {
  background-color: #9bc1bc;
  padding: 1px;
}
.content h2 {
  margin: 20px;
}
.content li {
  margin-bottom: 10px;
}

.articleOptions {
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid black;
}
.article-content {
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid black;
}
.articleOptions .articleButtons {
  display: flex;
  align-items: center;
}